.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-inline {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}